<ion-view view-title="个人信息"  hide-nav-bar="true">

  <ion-header-bar
  class="bar-forsix"
  align-title="center">
  <div class="buttons">
      <a  ng-click="$ionicGoBack()" class="button button-icon icon ion-ios-arrow-left"></a>
  </div>
  <h1 class="title">
    个人信息
  </h1>
  <div class="buttons">
    <a class="button button-icon">保存</a>
  </div>
  </ion-header-bar>
  <ion-content class="gbg">
    <div class="list" style="margin-top:10px;">

        <div class="item item-label-left">
          <i class="label">姓名</i>
          深海鱿鱼
        </div>
        <div class="item item-label-left item-icon-right">
          <i class="label">性别</i>
          男
          <i class="icon ion-ios-arrow-right icon-accessory"></i>
        </div>
        <div class="item item-label-left item-icon-right">
          <i class="label">生日</i>
          1987-11-10
          <i class="icon ion-ios-arrow-right icon-accessory"></i>
        </div>
        <div class="item item-label-left">
          <i class="label">电话</i>
          18531028996
        </div>


    </div>

  </ion-content>
</ion-view>
