<ion-view view-title="设置"  hide-nav-bar="true">

  <ion-header-bar
  class="bar-forsix"
  align-title="center">
  <div class="buttons">
      <a  ng-click="$ionicGoBack()" class="button button-icon icon ion-ios-arrow-left"></a>
  </div>
  <h1 class="title">
    设置
  </h1>
  <div class="buttons">

  </div>
  </ion-header-bar>
  <ion-content class="gbg">
    <ul class="list">
      <li class="item item-toggle">
         <h2>推送设置</h2>
         <label class="toggle toggle-balanced">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-icon-right">
         <h2>意见反馈</h2>
          <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </li>
      <li class="item item-icon-right">
         <h2>关于</h2>
          <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </li>
    </ul>
    <ul class="list">
      <li class="item">
         <h2>退出</h2>
      </li>
    </ul>
  </ion-content>
</ion-view>
