<ion-view view-title="我"  hide-nav-bar="true">

  <ion-header-bar
  class="bar-forsix"
  align-title="center">
  <div class="buttons">

  </div>
  <h1 class="title">
    我
  </h1>
  <div class="buttons">
    <!--  <a  class="button button-icon icon ion-ios-gear-outline" ui-sref="setting.home"></a>-->
  </div>
  </ion-header-bar>
  <ion-content class="gbg">
    <ul class="list  item-pic-left" style="margin-top:10px;">
      <li class="item item-icon-right" style="padding: 4px;" ui-sref="setting.personal">
         <div class="pic" style="background-image:url(./img/user/face6.png);width:60px;margin-left:10px;height:60px;background-size:100% auto;"></div>
         <h2 style="line-height:60px;">个人资料</h2>
         <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </li>
    </ul>
    <ul class="list item-pic-left">
      <li class="item item-icon-right">
          <div class="pic" style="background-image:url(./img/ion-setting-02.png);background-size:100% auto;"></div>
         <h2>账户余额</h2>
          <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </li>
      <li class="item item-icon-right">
         <div class="pic" style="background-image:url(./img/ion-setting-03.png);background-size:100% auto;"></div>
         <h2>我的收藏</h2>
          <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </li>
      <li class="item item-icon-right">
          <div class="pic" style="background-image:url(./img/ion-setting-01.png);background-size:100% auto;"></div>
         <h2>我的话题</h2>
          <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </li>
    </ul>

  </ion-content>
</ion-view>
