
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="首页" icon-off="ion-foursix-home-outline" icon-on="ion-foursix-home" ui-sref="tab.home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="菜单" icon-off="ion-foursix-detect-outline" icon-on="ion-foursix-detect" ui-sref="tab.carte">
    <ion-nav-view name="tab-carte"></ion-nav-view>
  </ion-tab>

  <ion-tab title="话题" icon-off="ion-foursix-share-outline" icon-on="ion-foursix-share" ui-sref="tab.share">
    <ion-nav-view name="tab-share"></ion-nav-view>
  </ion-tab>

  <ion-tab title="联系" icon-off="ion-foursix-letter-outline" icon-on="ion-foursix-letter" ui-sref="tab.contact">
    <ion-nav-view name="tab-contact"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我" icon-off="ion-foursix-user-outline" icon-on="ion-foursix-user" ui-sref="tab.user">
    <ion-nav-view name="tab-user"></ion-nav-view>
  </ion-tab>
</ion-tabs>
